@font-face {
  font-family: "mult";
  src: url(../font/Guestservice.ttf);
}
.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container .header {
  width: 60vw;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 0;
  font-family: "mult";
}
.container .main-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}
.container .main-wraper div {
  margin: 10px 0;
}
.container .main-wraper .quest-wrapper textarea.quest-container {
  width: 60vw;
  min-width: 500px;
  min-height: 80px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.container .main-wraper .button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.container .main-wraper .button-wrapper button {
  background: azure;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 15%;
  -webkit-transition: 150ms;
  transition: 150ms;
  font-family: "mult";
}
.container .main-wraper .button-wrapper button:hover {
  background-color: aquamarine;
  color: #4c2a71;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.container .main-wraper .task-wrapper {
  border: 1px solid black;
  border-radius: 15px;
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.container .main-wraper .task-wrapper .title {
  font-family: "mult";
  letter-spacing: 5px;
}
.container .main-wraper .task-wrapper hr {
  width: 98%;
  position: relative;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.container .main-wraper .task-wrapper .tasks {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}
.container .main-wraper .task-wrapper .tasks li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
  height: auto;
}
.container .main-wraper .task-wrapper .tasks li span {
  max-width: 1000px;
  overflow-wrap: anywhere;
}
.container .main-wraper .task-wrapper .tasks li input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}
.container .main-wraper .task-wrapper .tasks li input[type="checkbox"]:hover:not(:checked) + span {
  text-decoration: underline;
}
.deleted {
  right: -80vw !important;
  opacity: 0;
}
