.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .header {
        width: 90vw;
        text-align: center;
        border: 1px solid black;
        margin: 5px 0;
    }
    .main-wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        div {
            margin: 10px 0;
        }
        textarea.quest-container {
            min-height: 80px;
        }
        .task-wrapper {
            min-width: 500px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            .tasks {
                list-style: none;
                display: flex;
                flex-direction: column;
                li {
                    display: flex;
                    justify-content: space-between;
                    span {
                        max-width: 1000px;
                        overflow-wrap: anywhere;
                    }
                }
            }
        }
    }
}
