.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .main-wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        div {
            margin: 10px 0;
        }
        textarea.quest-container {
            min-width: 350px;
            min-height: 40px;
        }
        .task-wrapper .tasks {
            list-style: none;
        }
    }
}
